*.bin
*.msot
*.asv
*.orig
*.bak
libraries/Field_II_*/
libraries/ShearLab3Dv11*/
libraries/SpaRSA*/
reconstruction_model_based/data/SIRs/*.mat
reconstruction_model_based/data/SIRs/*.mat
reconstruction_model_based/data/SPMRs/*.mat
reconstruction_model_based/data/travel_time_files/*.mat
reconstruction_model_based/data/travel_time_files/*.mat
forwardMex.mex*
transposeMex.mex*
forwardDelayAndSumMex.mex*
transposeDelayAndSumMex.mex*
msfm2d.mex*
msfm3d.mex*
rk4.mex*
